/* Estilos para el footer */
.footer {
  background: #111216;
  color: #e0e0e0;
  text-align: center;
  padding: 18px 0;
  position: fixed;
  left: 220px;
  bottom: 0;
  width: calc(100% - 220px);
  font-size: 1rem;
  z-index: 99;
  transition: left 0.3s, width 0.3s, background 0.3s, color 0.3s;
}
.footer.dark {
  background: #111216;
  color: #fff;
}
@media (max-width: 800px) {
  .footer {
    left: 0;
    width: 100%;
  }
}
